<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.runners.schedule.model.mapper.ScheduleMapper">


	<select id="findAll" resultType="Schedule">
		SELECT 
			   SCHEDULE_NO scheduleNo,
		       USER_NO scheduleWriter,
		       SCHEDULE_TITLE scheduleTitle,
		       SCHEDULE_CONTENT scheduleContent,
		       ENROLL_DATE enrollDate,
		       SELECT_DATE selectDate,
		       COUNT count,
		       MAX_INCOUNT maxIncount,
		       PLACE_ID placeId,
		       PLACE place,
		       PLACE_LAT placeLat,
		       PLACE_LON placeLon,
		       PLACE_ADDR placeAddr
		  FROM
		  	   TB_SCHEDULE
		  JOIN
		  	   TB_MEMBER ON (SCHEDULE_WRITER = USER_NO)
		  JOIN 
		  	   TB_RUNNING ON (PLACE_ID = ESNTL_ID)
	</select>


	<insert id="save" parameterType="ScheduleDTO">
		INSERT
		  INTO
		       TB_SCHEDULE
		       (
				SCHEDULE_NO,
				SCHEDULE_WRITER,
				SCHEDULE_TITLE,
				SCHEDULE_CONTENT,
				ENROLL_DATE,
				SELECT_DATE,
				MAX_INCOUNT,
				COUNT,
				PLACE_ID,
				PLACE,
				PLACE_LAT,
				PLACE_LON,
				PLACE_ADDR
			   )
		VALUES
			   (
				SEQ_SNO.NEXTVAL,
				#{scheduleWriter},
				#{scheduleTitle},
				#{scheduleContent},
				SYSDATE,
				#{selectDate},
				#{maxIncount},
				0,
				#{placeId},
				#{place},
				#{placeLat},
				#{placeLon},
				#{placeAddr}
			   )
	</insert>





</mapper>  
